@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 5px 30px 1px #000000; 
    box-shadow: 0px 2px 10px 1px #000000;

    background-color: #a5a5a5;
    font-family: 'Roboto', sans-serif;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

header img{
    cursor: pointer;
}

header #carrinho{
    border-radius: 10px;
    font-size: 23px;
    color: #ffffff;
    width: 150px;
    height: 40px;
    margin-right: 15px;
    margin-left: -15px;

    transition: 0.2s;
}


header #carrinho img{
    margin: 0 10px 0 5px;
    width: 35px;
}

header #carrinho img:hover{
    cursor: pointer;
}

header #pesquisa{
    width: 72%;
    font-size: 24px;
    color: #fff;
}

header #pesquisa input{
    width: 70%;
    height: 35px;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;

    padding: 0 10px;
    font-size: 18px;
    outline: none;

    background-image: url(./assets/search.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

header #pesquisa p{
    width: 27%;
    font-weight: 700;
    margin: 0 10px 0 0;
}

.modal-footer button{
    border: none;
    background-color: #008000;

    transition: 0.2s;
}

.modal-footer button:hover{
    background-color: #00b600;
}

.modal-footer button:focus{
    background-color: #006300;
}

#carouselExampleControls button{
    border: solid 3px #ffff00;
    border-radius: 50%;

    width: 100px;
    height: 100px;

    position: absolute;
    top: 50%;
    margin-left: 100px;
    transform: translate(-50%, -50%);

    transition: 0.2s;
}

#carouselExampleControls button:hover{
    -webkit-box-shadow: 0px 0px 20px 5px #000000; 
    box-shadow: 0px 0px 20px 5px #000000;

    background-color: #ffffd140;
}

main{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.cards{
    height: 700px;
    width: 300px;
    margin-top: 15px;

    border: solid 1px #000000;
    border-radius: 8px;
}

.cards:hover{
    box-shadow: 0 0 10px #000000;
}

.cards .produtos img{
    width: 85%;
}

.cards .botoes button{
    height: 40px;
    width: 225px;
    
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #1157d9;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.cards .botoes button:hover{
    background-color: #3372e8;
}

.cards .botoes button:focus{
    box-shadow: 0px 0px 2px 2px #181818;
}

.cards .botoes{
    display: flex;

    align-items: center;    
    justify-content: center;
}

.cards .botoes .icon-btn{
    width: 50px;
    margin-left: 5px;

    border-radius: 3px;
}

.cards .botoes .icon-btn:hover{
    background-color: #309230
}

.cards .botoes .icon-btn:focus{
    background-color: #309230;
    border: solid 2px rgb(0, 116, 0);

    box-shadow: 0px 0px 2px 2px #309230;
}

.cards .precos{
    display: block;

    height: 80px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.cards .precos h3{
    color: #008000;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.cards .produtos{
    display: flex;
    
    height: 250px;
    align-items: center;
    justify-content: center;

    border-bottom: solid 1px #000000;
}

.cards .produtos:hover{
    filter: brightness(1.25);
}

.cards .descricao{
    padding: 5px;
    height: 300px;
    color: #000000;
}

.cards .descricao h4{
    padding-top: 10px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.cards .descricao p{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #6e6e6e;
    padding: 20px 0;
    margin-top: 10px;
}

footer #links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #links img{
    width: 50px;
    padding: 5px;
    cursor: pointer;
}

footer #logo img{
    border-radius: 5px;
    width: 250px;
    cursor: pointer;

    box-shadow: 0px 0px 10px #000000;
}

footer #logo, footer #links{
    width: 2%;
    text-align: center;
}


footer #pedido{ 
    width: 50%;


    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

footer #pedido h3, footer #pedido p{
    padding: 2px 0;
    margin-bottom: -2px;
}

footer #pedido button{
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    
    margin: 5px 0;

    transition: 0.2s;
}

footer #pedido #cadastrar{
    background: #000000;
}

footer #pedido #cadastrar:hover{
    background: #181818;
}

footer #pedido #cadastrar:focus{
    box-shadow: 0px 0px 10px #000000;
}

footer #pedido input{
    padding-left: 10px;
    width: 350px;
    height: 30px;

    border: 0;
    border-radius: 5px;

    font-size: 18px;
    color: #2c0606;
    outline: none;

    background-image:url(./assets/email.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}
